@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Inconsolata:wght@200..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: #E8F7B8;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container_principal{
    background-color: #FAF3E0;
    border-radius: 10px;
    width: 700px;
    height: 500px;
    font-family: "Plus Jakarta Sans", sans-serif;
}

#box_titulo{
    margin-top: 20px;
    text-align: center;
}

#box_destinatario{
    margin-left: 60px;
}

#box_texto{
    text-align: center;
    text-align: justify;
    margin-left: 60px;
    margin-right: 60px;
    text-indent: 30px;
}

#box_remetente{
    text-align: right;
    margin-right: 60px;
}